*{
	margin: 0px;
	padding: 0px;

}
/* DIV CONTENTE */
.content{
	background-color: #eceff1;
    max-width: 1200px;
	margin: auto;
	padding: 5px;
	margin-top: 0px;

}
/* DIV HERDER */
header{
	background-color:#009688;
	width: 100%;
	height: 200px;
}
/* NAV MENU PRINCIPAL */
nav{
	background-color: #fff;
	width: 100%;
	height: 50px;
	margin-top: 5px;
}
/* SESSÃO PRINCIPAL DA PAGINA */
section{
	background-color: #fff;
	width: 75%;/*900px*/
	height: 500px;
	margin-top: 5px;
	margin-bottom: 5px;
	box-sizing: border-box;
	border-right: 1px solid #ddd;
	padding: 10px;
	float: left;
}
/* SESSÃO de ARTIGOS DENTRO DA SECTION */
article{
background-color: #ccc;
width: 250px;
height: 200px;
float: left;
margin: 20px;
}

.milha{
background-image: url(../imagens/camaro.jpg);
background-position: 35% 80%;
background-size: 700%; 
}
.farol{
background-image: url(../imagens/camaro.jpg);
background-position: 35% 60%;
background-size: 700%;
}
.roda{
background-image: url(../imagens/camaro.jpg);
background-position: 58% 85%;
background-size: 600%;
}
.capo{
background-image: url(../imagens/camaro.jpg);
background-position: 20% 45%;
background-size:400%;
}

.retrovisor{
background-image: url(../imagens/camaro.jpg);
background-position: 75% 40%;
background-size: 800%;
}
.porta{
background-image: url(../imagens/camaro.jpg);
background-position: 80% 55%;
background-size: 500%;
}
aside{
	background-color: #fff;
	width: 24.1666667%; /*290px*/
	height: 500px;
	margin-top: 5px;
	margin-left: 5px;
	text-align: justify;
	box-sizing: border-box;
	padding: 10px;
	float: left;

}
/* RÓDAPÉ DO SITE  */
footer{
	background-color: #455a64;
	margin-bottom: 5px
	width: 100%;
	height: 100px;
	clear: both;
}