*{
margin: 0PX;
padding: 0PX;
font-family: Verdana;
font-size: 95%;
}

ul{
list-style-type: none;

}
ul li{
background-color: #ddd;
width: 150px;
height: 30px;
margin-top: 5px;
line-height: 30px;
cursor: pointer;
}

